/*------reset-------*/
body,figure{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
em{
    font-style: normal;
}
a{
    text-decoration: none;
    color: unset;
}
li{
    list-style: none;
}
h1,h2,h3,h4,p,figure,ul,li{
    font-size: unset;
    margin: unset;
}
/*------reset-------*/
/*---------------table-------------*/
 .table{
    display: flex;
    color: white;
    border: 1px solid rgb(115, 115, 255);
    background: rgba(0, 0, 0, 0.705);
    margin: 0 40px 40px;
    border-radius: 20px;
    overflow: hidden;
}
.table aside{
    display: flex;
}
.table aside:first-child{
    width: 25%;
    background: rgba(115, 115, 255, 0.247);
}
.table aside:first-child li{
    width: 100%;
}
.table aside:last-child{
    width: 75%;
    overflow-x: scroll;
}
.table aside:last-child li{
    flex: 1;
}
.table aside li{
    display: flex;
    flex-direction: column;
}
.table aside li h1{
    background: rgb(115, 115, 255);
}
.table aside li h2{
    border-bottom: 1px solid rgb(115, 115, 255);
}
.table aside li h2:last-child{
    border-bottom: unset;
}
.table aside li h1,.table aside li h2{
    height: 80px;
    /* padding: 0 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.table aside li p{
    font-size: 16px;
}
/*---------------table-------------*/
/*---------------uniType-------------*/
.uniOuter{
    border: 1px solid rgb(115, 115, 255);
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.705);
    padding: 20px 40px;
}
/*---------------uniType-------------*/

.wrapper{
    width: 100%;
    min-height: 100vh;
    background: url(../images/sportGamingBg.jpg) center no-repeat fixed;
    background-size: cover;
    overflow-x: hidden;
    font-size: 18px;
}
.mainNavBg_t{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg
      , #000000db, #000000);    top: 0;
    left: 0;
    transition: .5s;
    opacity: 0;
    transform: translateY(-80px);
    box-shadow: 5px 5px 20px 0px #0000000d;
    backdrop-filter: blur(5px);
    border-bottom: 3px solid #2f8cc7;
    box-shadow: 0 5px 18px 2px #000000bd;
  }
  .mainNavBg_t.active{
    opacity: 1;
    transform: translateY(0);

  }
.navBar_h5{
    display: none;
}
.navBar{
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 105px;
    /* background: black; */
    padding: 0 50px;
    box-sizing: border-box;
}
.navBar .logoZone{
    width: 150px;
    height: 50px;
    position: relative;
    z-index: 10;
}
.navBar .logoZone img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.navBar .topOption{
    display: flex;
    height: 100%;
    align-items: center;
}
.navBar .topOption li{
    color: white;
    position: relative;
    transition: .5s;
    height: 100%;
    display: flex;
    align-items: center;
}
.navBar .topOption li a{
    padding: 42px 20px;
}
.navBar .topOption li .bottomLine{
    position: absolute;
    width: 0;
    height: 3px;
    background: #65b5e9;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: .5s;
}
.navBar .topOption li:hover{
    color: #65b5e9;
}
.navBar .topOption li:hover .bottomLine{
    width: 100%;
}
.topView_h5{
    display: none;
}
.topView{
    /* padding-top: 60px; */
    width: 100%;
    height: 86vh;
    min-height: 716px;
    background: url(../images/banner.jpg) center no-repeat;
    background-size: cover;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 88%);
}
.topView__center{
    width: 87vw;
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.topView .mainLogo{
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
}
.topView .mainLogo img{
    width: 100%;
}
.topView .rewardSlogan{
    position: absolute;
    top: 64%;
    right: 2%;
    transform: translateY(-50%);
    max-width: 711px;
    width: 40vw;
    transition: .5s;
}
.topView .rewardSlogan img{
    width: 100%;
    animation: fadeUp 1.6s;
}
.topView__text{
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    left: 2%;
    /* width: 34vw; */
    color: white;
}
.topView__logo{
    animation: fadeRight .5s;
}
.topView__text h1{
    font-size: 120px;
    animation: fadeRight 1s;
    transition: .5s;
}
.topView__text h2{
    font-size: 30px;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #65b5e9;
    display: inline-block;
    padding: 7px 36px;
    border-radius: 0 50px 50px 0;
    margin: 20px 0;
    animation: fadeRight 1.5s;
}
.topView__text h1 em{
    color: #65b5e9;
}
.topView__text p{
    line-height: 30px;
    width: 30vw;
    animation: fadeRight 2s;
}
.topView__text p em{
    font-weight: bolder;
    color: #65b5e9;
}
.activeBtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto 40px;
    width: 500px;
    height: 163px;
    background: url(../images/activeBtn.png) center no-repeat;
    background-size: contain;
    transition: .5s;
    animation: flush 2s infinite;
}
.activeBtn:hover{
    transform: scale(1.1);
}
.activeBtn h1,.activeBtn h2{
    color: white;
    text-shadow: 5px 5px 5px black;
}
.activeBtn h1{
    font-size: 18px;
    margin-bottom: 5px;
}
.activeBtn h2{
    font-size: 26px;
    margin-top: 10px;
}
.content{
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}
.content section .beginning{
    color: white;
    font-size: 18px;
    line-height: 29px;
    margin: 0 40px 40px;
}

.zone{
    padding: 60px 0;
}

.zone.zone--flex{
    display: flex;
    align-items: center;
}
.zone .zoneTitle{
    height: 70px;
    margin-bottom: 20px;
}
.zone .zoneTitle img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.zone .describeTitle{
    color: white;
    padding: 20px 40px;
    font-size: 30px;
    line-height: 29px;
    margin: 0 0 10px;
    text-align: center;
    text-shadow: 0 0 10px rgb(85, 85, 255);
}
.zone .describe{
    color: white;
    padding: 20px 0;
    font-size: 18px;
    line-height: 29px;
    font-weight: normal;
}
.zone__describe{
    width: 40%;
    order: 1;
}
.zone__image{
    flex: 1;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 20px #4ba9e7, 0 0 66px #2f8cc7;
    /* animation: flush 2s infinite; */
    position: relative;
}
.zone__image:hover{
    animation: flush 2s infinite;
}
.zone__image:before{
    content:"點我展開";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    padding: 20px 10px;
    box-sizing: border-box;
    background-color: #2f8cc7;
    color: white;
}
.zone:nth-child(even) .zone__image:before{
    left: 0;
    border-radius: 0 20px 20px 0;
}
.zone:nth-child(odd) .zone__image:before{
    right: 0;
    border-radius: 20px 0 0 20px;
}
.zone__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.zone:nth-child(even) .zone__image{
    order: 2;
    margin-left: 70px;
}
.zone:nth-child(odd) .zone__image{
    margin-right: 70px;
}
.stepZone{
    display: flex;
}
.stepZone .stepElement{
    margin: 0 8px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.stepZone .stepElement .stepHead{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.stepZone .stepElement .stepHead h1{
    font-size: 18px;
    line-height: 22px;
    color: rgb(136, 177, 255);
}
.stepZone .stepElement .stepHead h2{
    font-size: 40px;
    line-height: 42px;
}
.stepZone .stepElement .stepBody{
    margin-top: 20px;
}
.stepZone .stepElement .stepBody h3{
    color: rgb(136, 177, 255);
    margin-bottom: 10px;
}
.stepZone .stepElement .stepBody h3,.stepZone .stepElement .stepBody p{
    line-height: 25px;
}
.rule{
    padding: 0 150px 50px;
}
.rule li {
    display: flex;
    color: white;
    margin-bottom: 20px;
}
.rule li h1{
    margin-right: 20px;
}
.rule li p{
    line-height: 26px;
}

.btnAria{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    background: rgba(0, 0, 0, 0.555);
}
.btnAria .gogoBtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 100px;
    transition: .5s;
    margin: 0 20px;
    transition: .5s;
    animation: flush 2s infinite;
}
.btnAria .gogoBtn:hover{
    transform: scale(1.1);
}
.btnAria .gogoBtn h1{
    font-size: 30px;
    color: white;
    text-shadow: 5px 5px 5px black;
}
.gogoBtn.registerBtn{
    background: url(../images/registerBtn.png) center no-repeat;
    background-size: contain;

}
.gogoBtn.homePageBtn{
    background: url(../images/homePageBtn.png) center no-repeat;
    background-size: contain;

}
.contact{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}
.contact li{
    display: flex;
    align-items: center;
    margin: 5px 30px;
}
.contact li figure{
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact li figure img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.contact li h1{
    color: white;
}
.main-title {
    font-size: 40px;
    line-height: 31px;
    text-align: center;
    font-weight: bold;
    color: #65b5e9;
    padding: 30px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.main-title__bar {
    height: 2px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: #65b5e9;
}
.main-title__stick {
    width: 15px;
    height: 15px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: rgba(0,0,0,0) !important;
    border-width: 2px 2px 0 0;
    border-style: solid;
}
.main-title__stick:nth-child(2) {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}
.main-title em {
    margin: 0 10px;
    color: white;
}
/* light-case */
#lightcase-content{
    border-radius: 20px;
}
.lightcase-contentInner{
    width: 90vh !important;
    height: 90vh !important;
    border-radius: 20px;
}
.lightcase-contentInner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: unset !important;
    max-height: unset !important;
}
/* light-case */

@media screen and (max-width: 1100px) {
    .content{
        width: 100%;
    }
    .topView{
        height: 50vh;
        min-height: 691px;
    }
    .topView__text{
        top: 50%;
    }
    .topView .rewardSlogan{
        max-width: 698px;
        width: 69vw;
        right: -29%;
        bottom: 9%;
    }
    .topView__text p{
        width: 40vw;
    }
    .topView__text h1{
        font-size: 81px;
    }
    .rule {
        padding: 0 10%;
    }
    .stepZone .stepElement{
        margin: 0 10px;
    }
    .uniOuter{
        padding: 20px 30px;
    }
    .topView .mainLogo{
        top: 60px;
        width: 160px;
    }
    .zone:nth-child(odd) .zone__image{
        border-radius: 0 20px 20px 0;
    }
    .zone:nth-child(even) .zone__image{
        border-radius: 20px 0 0 20px;
    }
    .zone .describe{
        margin: 0 45px;
    }

    /* 漢堡選單開始 */
    .navBar{
        display: none;
    }
    .navBar_h5{
        position: fixed;
        z-index: 1;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 65px;
        padding: 0 10px;
        box-sizing: border-box;
    }
    .navBar_h5 .logoZone{
        position: relative;
        /* height: 30px; */
        width: 140px;
        padding-left: 10px;
    }
    .navBar_h5 .logoZone img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .burgerBtn{
        position: relative;
        width: 50px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .burgerBtn img{
        width: 40%;
    }

    .optionLine{
        position: fixed;
        width: 40vw;
        height: 100vh;
        background: #000000e5;
        backdrop-filter: blur(9px);
        right: 0;
        top: 0;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(40vw);
        opacity: 0;
        transition: .5s;
    }
    .optionLine.active{
        transform: translateX(0);
        opacity: 1;
    }
    .optionLine a{
        padding: 10px 0;
    }
    .optionLine .closeBtn{
        position: absolute;
        width: 50px;
        height: 50px;
        top: 6px;
        right: 9px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .optionLine .closeBtn img{
        width: 40%;
    }
    /* 漢堡選單結束 */

    /* light-case */
    .lightcase-contentInner{
        width: 80vw !important;
        height: 80vw !important;
    }
    /* light-case */

}
@media screen and (max-width: 940px) {
    .wrapper{
        background: url(../images/sportGamingBg.jpg) center repeat;
    }

    .zone__describe{
        width: 55%;
    }
    .main-title{
        margin-bottom: 20px;
        font-size: 20px;
    }
    .topView__text h2{
        font-size: 25px;
    }
}
@media screen and (max-width: 753px) {
    .topView__text h1{
        font-size: 67px;
    }
}
@media screen and (max-width: 613px) {
    .topView__center{
        width: 100vw;

    }
    .optionLine{
        width: 60vw;
        transform: translateX(60vw);
    }
    .topView{
        height: 82vh;
        min-height: 729px;
    }
    /* .topView_h5{
        display: block;
        margin-top: 50px;
    } */
    .topView__text{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: unset;
        transform: unset;
        padding-top: 29%;
        position: relative;
        left: unset;
    }
    .topView__text h1{
        font-size: 40px;
        text-align: center;
    }
    .topView__text h2{
        font-size: 20px;
        border-width: 1px 0;
        border-radius: 0;
    }
    .topView__text p{
        width: 75vw;
        font-size: 13px;
        line-height: 20px;
    }
    .topView .rewardSlogan{
        bottom: -9%;
        left: 50%;
        transform: translateX(-50%);
        top: unset;
        width: 111vw;
    }
    .topView_h5 img{
        width: 100%;
    }
    .activeBtn{
        width: 287px;
        height: 99px;
        margin-bottom: 0;
    }
    .activeBtn h1{
        font-size: 12px;
    }
    .activeBtn h2{
        font-size: 16px;
        margin-top: 0;
    }
    .content section .beginning{
        margin: 0 20px 20px;
        font-size: 13px;
        line-height: 20px;
    }
    .zone{
        padding-top: 0;
    }
    .zone .zoneTitle{
        height: 30px;
        transform: scale(1.3);
    }
    .zone .describe{
        font-size: 13px;
        line-height: 20px;
        padding: 0;
        margin: 0 30px;
    }
    .zone .describeTitle{
        font-size: 18px;
        padding: 10px 20px;
    }
    .zone:nth-child(odd) .zone__image{
        margin-right: 0;
    }
    .zone:nth-child(even) .zone__image{
        margin-left: 0;
    }
    .table{
        margin: 0 20px 20px;
    }
    .table aside:first-child{
        width: 35%;
    }
    .table aside:last-child{
        width: 75%;
    }
    .table aside:last-child::-webkit-scrollbar{
        display: none;
    }
    .table aside:last-child li{
        min-width: 135px;
    }
    .table aside:last-child,.table aside:last-child li:last-child h1{
        border-radius: 0 20px 0 0 ;
    }
    .table aside li h1,.table aside li h2{
        height: 57px;
    }
    .table aside li p{
        font-size: 14px;
    }
    .stepZone{
        flex-direction: column;
    }
    .stepZone .stepElement{
        margin: 0 20px 20px;
    }
    .stepZone .stepElement .stepBody p{
        font-size: 13px;
        line-height: 20px;
    }
    .rule{
        padding: 0 20px;
        font-size: 13px;
        line-height: 20px;
    }
    .contact{
        padding: 0;
    }
    .contact li{
        margin: 5px;
    }
    .btnAria{
        padding: 30px 0;
        flex-direction: column;
    }
    .btnAria .gogoBtn{
        margin: 0 13px 10px;
        width: 287px;
    }
    .btnAria .gogoBtn h1{
        font-size: 20px;
    }
    .contact li{
        display: flex;
        flex-direction: column;
    }
    .contact li figure{
        margin: 0 0 10px;
    }
    .contact li h1{
        font-size: 12px;
        font-weight: normal;
    }
    .zone__image:before{
        animation: flushFading 1s infinite;
    }
}
@media screen and (max-width: 470px) {
    .topView{
        min-height: 627px;
    }
    /* light-case */
    #lightcase-content{
        border-radius: 0 !important;
    }
    .lightcase-contentInner{
        width: 100vw !important;
        height: 100vw !important;
        border-radius: 0;
    }
    /* light-case */
}








@keyframes flush {
    0% {
        filter: brightness(1);
    }
    50% {
        filter: brightness(0.6);
    }
    100% {
        filter: brightness(1);
    }
  }
  @keyframes flushFading {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
  }

  @keyframes fadeUp {
    0% {
        transform: translateY(200px);
        opacity: 0;
    }
    30% {
        transform: translateY(200px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
  }
  @keyframes fadeRight {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
  }
  @keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }